<div style="text-align: center;">
	
	<h2 class="jumbotron">Employee Register</h2>
</div>

<div class="row">
	
	<div class="col-md-7">
		<app-employee-create></app-employee-create>
	</div>

	<div class="col-md-5">
		<app-employee-list></app-employee-list>
	</div>
</div>



<!---



<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDIhaiihAKkLlUKPrmoWZOWDY-D2RyTLeU",
    authDomain: "new-one-feab8.firebaseapp.com",
    databaseURL: "https://new-one-feab8.firebaseio.com",
    projectId: "new-one-feab8",
    storageBucket: "new-one-feab8.appspot.com",
    messagingSenderId: "528819156969"
  };
  firebase.initializeApp(config);
</script>

-->